@import "./varibales";

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: $primary-font;
  background-color: $body-background-color;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}
