@mixin tag {
  display: inline-flex;
  background-color: $gray-1;
  padding: 4px 10px;
  border-radius: 25px;
  align-items: center;
}

@mixin tag-dot($color) {
  color: $color;
  font-size: 8px;
  display: flex;
}

// @mixin hover-decoration {
//   text-decoration-color: $theme-color;
// }

@mixin heading-hover {
  transition: all linear 0.3s;
  text-decoration: underline;
  text-decoration-color: transparent;
  display: inline-block;
  text-decoration-thickness: 2px;
  &:hover {
    text-decoration-color: $theme-color;
  }
}

@mixin heading($font-size) {
  font-size: $font-size;
  font-family: $primary-font;
  color: $text-color-dark;
  font-weight: 600;
  margin: 25px 0;
  line-height: 1.2;
}

@mixin shadow {
  box-shadow: -1px 9px 5px 5px rgba(0, 0, 0, 0.09);
  -webkit-box-shadow: -1px 9px 5px 5px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: -1px 9px 5px 5px rgba(0, 0, 0, 0.09);
}

@mixin shadow-lg {
  box-shadow: 0 15px 40px 5px rgba(132, 132, 133, 0.15);
  -webkit-box-shadow: 0 15px 40px 5px rgba(132, 132, 133, 0.15);
  -moz-box-shadow: 0 15px 40px 5px rgba(132, 132, 133, 0.15);
}

@mixin img-wrapper($ratio, $border-radius) {
  aspect-ratio: $ratio;
  display: block;
  overflow: hidden;
  border-radius: $border-radius;
}

@mixin img {
  max-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all linear 0.3s;
}
