@mixin tag{
    display: inline-flex;
    background-color: $gray-1;
    padding: 4px 10px;
    border-radius: 25px;
    align-items: center;
}

@mixin tag-dot($color){
    color: $color;
    font-size: 8px;
    display: flex;
    
}