// Colors
$food-tag-color: #B43ADF;
$health-tag-color: #1dbf2f;
$inspiration-tag-color: #04baf6;
$style-tag-color: #4d61ff;
$nature-tag-color:#fd94ff;
$tech-tag-color:#f18509;
$travel-tag-color:#E10689;


$gray-1: #EFF1F4;

$text-color-dark: #090C1E;
$text-color-gray: #2D3350;
$text-color-light: #808495;


// Fonts
$primary-font: 'Poppins', sans-serif;