// Colors
$food-tag-color: #b43adf;
$health-tag-color: #1dbf2f;
$inspiration-tag-color: #04baf6;
$style-tag-color: #4d61ff;
$nature-tag-color: #fd94ff;
$tech-tag-color: #f18509;
$travel-tag-color: #e10689;
$card-background-color: #ffffff;
$body-background-color: #f9f9ff;

$gray-1: #eff1f4;
$text-color-dark: #090c1e;
$text-color-main: #2d3350;
$text-color-light: #808495;
$theme-color: #fb2576;

// Fonts
$primary-font: "Poppins", sans-serif;

// Styles

$border-radius-16: 16px;
$border-radius-8: 8px;

$img-dimention-1: 1/1;
$img-dimention-9: 16/9;
