@import "../varibales";

.banner {
  margin: 40px 0;
  .banner-content {
    // margin: 40px 0;
    .banner-text {
      .banner-head {
        @include heading(2.5rem);
      }
      .hover-decoration {
        @include heading-hover;
      }
      .post-description {
        font-size: 1.125rem;
        color: $text-color-main;
      }
    }
    // .post-date-time {
    //   display: flex;
    //   &__post-date {
    //     display: flex;
    //     color: $text-color-light;
    //     span {
    //       margin-right: 5px;
    //     }
    //   }
    //   &__post-time {
    //     display: flex;
    //     margin-left: 10px;
    //     color: $text-color-light;
    //     span {
    //       margin-right: 5px;
    //     }
    //   }
    // }
  }

  .banner-img {
    &__container {
      background-color: $card-background-color;
      padding: 1rem;
      border-radius: 16px;
      @include shadow;
      max-height: 450px;

      .img-wrapper {
        @include img-wrapper($img-dimention-9, $border-radius-8);
        img {
          @include img;
        }
      }

      &:hover img {
        cursor: pointer;
        transform: scale(1.03);
      }
    }
  }
}
