.content {
  .content-wrapper {
    background-color: $card-background-color;
    padding: 2rem;
    border-radius: $border-radius-16;
    @include shadow-lg;
    .post-card {
      display: flex;
      .post-img {
        &__container {
          width: 272px;
          margin-right: 2rem;
          .img-wrapper {
            @include img-wrapper($img-dimention-1, $border-radius-16);
            img {
              @include img;
            }
          }

          &:hover img {
            cursor: pointer;
            transform: scale(1.03);
          }
        }
      }
      .post-content {
        .tag-icon {
          .fa-circle {
            @include tag-dot($nature-tag-color);
          }
        }
        .content-head {
          @include heading(2rem);
        }
        .hover-decoration {
          @include heading-hover;
        }

        .post-excerpt {
          margin-bottom: 1.25rem;
          p {
            color: $text-color-main;
          }
        }
      }
    }
  }
}
